.heading {
  font-weight: 700;

  &--primary {
    font-size: 2rem;
    line-height: 1.2;
    color: var(--color-primary);
  }
}

.text {
  &--primary {
    font-weight: 700;
    color: var(--color-primary-darker);
  }

  &--success {
    color: var(--color-success);
  }

  &--warning {
    color: var(--color-warning);
  }

  &--danger {
    color: var(--color-danger);
  }
}
