<div class="dashboard">
  <div class="dashboard__content">
    <h1 class="dashboard__heading heading heading--primary">Lista samochodów:</h1>
    <div class="dashboard__options">
      <div class="dashboard__filters">
        <div class="dashboard__filter" [ngClass]="{'active': showAvailable === true}" (click)="filterAvailable()">
          Dostępne</div>
      </div>
      <div class="dashboard__sort">
        Sortuj według:<img class="arrow" src="assets/images/arrow_down.svg" alt="Rozwiń listę">
        <div class="dashboard__sort__options">
          <div [ngClass]="{'active': sortById === 1}" class="dashboard__sort__option" (click)="filterAndSort(1)">
            bateria rosnąco
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard__item" (click)="selectVehicle(vehicle)" *ngFor="let vehicle of vehicles"
      [ngClass]="{'active': vehicle === selectedVehicle}">
      <div class="dashboard__item__img">IMG</div>
      <div class="dashboard__item__details">
        <h2 class="dashboard__item__name">{{vehicle.name}}</h2>
        <div class="dashboard__item__statuses">
          <div class="dashboard__item__status">
            <img class="dashboard__item__status__img" src="assets/images/battery.svg" alt="Poziom baterii">
            <p [ngClass]="{'text--success': vehicle.batteryLevelPct >70 && vehicle.batteryLevelPct <=100, 'text--warning': vehicle.batteryLevelPct > 30 && vehicle.batteryLevelPct <=70, 
              'text--danger':vehicle.batteryLevelPct <=30}">{{vehicle.batteryLevelPct}} %</p>
          </div>
          <div class="dashboard__item__status">
            <img class="dashboard__item__status__img" src="assets/images/badge.svg" alt="Numer rejestracyjny">
            <p>{{vehicle.platesNumber}}</p>
          </div>
        </div>
      </div>
      <a class="dashboard__item__btn btn btn--primary" (click)="showPopout(vehicle)">Zobacz szczegóły</a>
    </div>
  </div>
</div>
